    *{
        margin: 0;
        padding: 0;
    }

    .banner {
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        padding: 200px;
        background: #333651;
        background-size: cover;
        color: white;
    }

    .banner h1{
        font-size: 50px;
        padding: 50px;
    }

    .secao__main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto, auto, auto, auto, auto, auto; 
        justify-content: center;
        margin-top: 90px;
        word-break: break-all;
    }

    .itens{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        flex-direction: column;
        flex: 1;
        margin-left: 70px;
        margin-bottom: 50px;
        color: #6C7279;
    }

     .itens p{
        font-size: 14px;
        margin-top: 26px;
        margin-bottom: 19px;
    }

     .itens svg{
        width: 60px;
        height: 60px;
        fill: red;
		stroke-width: 5;
    }

    .avatar{
        margin-top: 35px;
        grid-column-start: 1;
        grid-column-end: 4;
        display: flex;
        align-items: center;
        font-size: 30px;
        flex-direction: column;
        flex: 1;
        margin-left: 70px;
        margin-bottom: 0px;
    }

    .infonome{
        margin-top: 14px;
        margin-bottom: 0;
        padding: 0px;
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: 22px;
    }

    .infologin{
        text-align: left;
        margin-top: 9px;
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: 13px;
    }

    .bio{
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: 16px;
        text-align: left;
        color: #6C7279; 
        }

    .site a{
        font-size: 24px;
        width: 250px;
    }

    .erro{
        color:red;
        text-align: center;
        margin-top: 80px;
        height: 100px;
    }

    .infoavatar{
        display: flex;
        flex-direction: column;
    }
    .loginavatar{
        padding-left: 52px;
        font-size: 13px;
        text-transform: uppercase;
        color: red;
    }

    .nomeavatar{
        padding-left: 50px;
    }

    .nomeavatar, .loginavatar{
        text-align: left; 
        font-weight: bold;
    }

    .infobio{
        width: 261px;
        text-align: left;
        padding-right: 45px; 
        font-weight: bold;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        background-color: #6f6f6f;
        color: white;
        width: 100%;
        height: 500px;
    }

    .gitimg{
        position: relative;
    }

    .gitimg img{
        position: absolute;
        top: 25%;
        left: 25%;
        width: 200px;
        height: 200px;
        align-items: left;
        
    }

    .teste{
        position: relative;
    }

    .textfooter{
        position: absolute;
        top: 25%;
        left: 25%;
        width: 476px;
        height: 118px;
        font-size: 36px;
        text-align: left;
    }

    .textfooter2 {
        position: relative;
        top: 75%;
        left: 25%;
        width: 476px;
        height: 118px;
        font-size: 14px;
        text-align: left;
    }

    @media (max-with: 890px){
        display: grid;
    }